@{
    ViewData["Title"] = "About Us";
}


<section class="container">

    <div class="container w-50">
        <div class="row justify-content-center mb-5">
            <div class="site-section-heading text-center pt-4">
                <h1>About Us</h1>
                <h3>This fake website was brought to you by Natalie Kuechler. This demonstrates my full stack development skills by creating and implementing a database through SQL and MVC .Net Core</h3>
            </div>
            <div class="text-center pt-4">
                <p>
                <h3>DISCLAIMER:</h3>
                <strong>
                    The manufacturers and products depicted in this website reference real manufacturers and                                and actual products they carry. This is in no way affiliated with the actual manufacturers.
                    These products are not actually being sold.
                </strong><br /><br />
            </p>
            </div>
        </div>
    </div>
        
</section>