@{
    ViewData["Title"] = "About Us";
}


<section class="container">

    <div class="container" align="center">
        <h1>About Us</h1>
        <p>
            This fake website was brought to you by Natalie Kuechler. This demonstrates my full stack development skills by                   creating and implementing a database through SQL and MVC .Net Core.<br /><br />
            
        </p>
    </div>
 
    <div class="site-section site-blocks-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Manufacturers We Carry</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <img src="~/images/living.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Shop by Category</span>
                            <h3>Living Room</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <img src="~/images/bedroom.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Shop by Category</span>
                            <h3>Bedroom</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="200">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <img src="~/images/dining.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Shop by Category</span>
                            <h3>Dining</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <img src="~/images/mattress.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Shop by Category</span>
                            <h3>Mattresses</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <img src="~/images/rugs.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Shop by Category</span>
                            <h3>Rugs</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="200">
                    <a asp-action="Index" asp-controller="Products" class="block-2-item">
                        <figure class="image">
                            <img src="~/images/shopall.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Shop by Category</span>
                            <h3>Shop All</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
                    <p align="center">
                        <h3>DISCLAIMER:</h3>
                        <strong>The manufacturers and products depicted in this website reference real manufacturers and                                and actual products they carry. This is in no way affiliated with the actual manufacturers. 
                            These products are not actually being sold.</strong><br /><br />
                    </p>
    </div>
</section>