@{
    ViewData["Title"] = "Contact Us";
}







<section id="gtco-contact-form" class="bg-white">
    <div class="container" id="formContainer">
        <div class="section-content">
            <!-- Section Title -->
            <div class="container">
                <div class="row justify-content-center  mb-5">
                    <div class="col-md-7 site-section-heading text-center pt-4">
                        <h1>Contact Us</h1>
                        <h3>We are here to support you!</h3>
                    </div>
                </div>


            </div>
            <!-- End of Section Title -->
            <div class="row">
                
                <!-- Contact Form Holder -->
                <div class="col-md-8 offset-md-2 contact-form-holder mb-1">
                    <form method="post" name="contact-us" action="">
                        <div class="row">
                            <div class="col-md-12 form-input">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="col-md-12 form-input">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-input">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                            </div>
                            <div class="col-md-12 form-textarea">
                                <textarea class="form-control" id="message" name="message" rows="6" placeholder="Your Message ..."></textarea>
                            </div>
                            <div class="col-md-12 form-btn text-center">
                                <button class="btn btn-block btn-primary btn-primary" type="submit" name="submit">Send Message</button>

                            </div>
                        </div>
                    </form>
                    @*<div id="form-message-warning"></div>
                    <div id="form-message-success">
                        Your message was sent, thank you!
                    </div>
                </div>*@
                <!-- End of Contact Form Holder -->
                    <p class="justify-content-center mt-3">
                        One of our dedicated customer service representatives will touch
                        within 24 to 48 hours and will respond according to the order in which the requests have been received.
                    </p>
            </div>
        </div>
    </div>
</section>
<!-- End of Contact Form Section -->
