@{
    ViewData["Title"] = "Furniture Steals | Home";
}


<div class="site-section block-8">
    <div class="container">
        <div class="row justify-content-center  mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h1>PROUDLY FURNISHING YOUR HOME</h1><h2>Since 2022</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 mb-5">
                <a href="#"><img src="~/images/salephoto.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
            </div>
            <div class="col-md-12 col-lg-5 text-center pl-md-5">
                <h1><a href="#">NEW YEAR, NEW SALE!</a></h1>
                <p>
                    <h2>
                        50-70% off MSRP!<br />
                        Free Delivery on Orders $999 or more!
                    </h2>
                </p>
                <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p>
            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm site-blocks-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Free Shipping</h2>
                    <p>
                        On Orders $999 or more!<br>
                        Kansas City Metro Area only.<br>
                        Click below for more details.<br /><br />
                        <a href="#" class="btn btn-sm btn-primary">Our Policies</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Returns Accepted <br>Within 7 Days</h2>
                    <p>
                        Returns are subject to a <br><strong>10% restocking fee</strong> and a <strong>delivery fee</strong>.<br>
                        Click below for more details.<br /><br />
                        <a href="#" class="btn btn-sm btn-primary">Our Policies</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Customer Support</h2>
                    <p>
                        <h5>We are here for you!</h5><br>
                        <a href="#" class="btn btn-sm btn-primary">Contact Us</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section site-blocks-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Our Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                <a class="block-2-item" href="#">
                    <figure class="image">
                        <img src="~/images/living.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Shop by Category</span>
                        <h3>Living Room</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                <a class="block-2-item" href="#">
                    <figure class="image">
                        <img src="~/images/bedroom.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Shop by Category</span>
                        <h3>Bedroom</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="200">
                <a class="block-2-item" href="#">
                    <figure class="image">
                        <img src="~/images/dining.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Shop by Category</span>
                        <h3>Dining</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                <a class="block-2-item" href="#">
                    <figure class="image">
                        <img src="~/images/mattress.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Shop by Category</span>
                        <h3>Mattresses</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                <a class="block-2-item" href="#">
                    <figure class="image">
                        <img src="~/images/rugs.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Shop by Category</span>
                        <h3>Rugs</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mt-4 mb-lg-0" data-aos="fade" data-aos-delay="200">
                <a asp-action="Index" asp-controller="Products" class="block-2-item">
                    <figure class="image">
                        <img src="~/images/shopall.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Shop by Category</span>
                        <h3>Shop All</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


